# Directories
out/*
runs/*
*/runs/*

# Data
data/raw/CA/*.csv
data/tidy/CA/cov.RData
data/tidy/CA/pa_join.RData
data/tidy/EPA/pm2.5_CA_reduced_cov.RData
data/tidy/EPA/epa_reduced.RData

# Code
code/example/*

# Figures
*.png
*.Rmd
*.html

# R related files
.Rhistory
.Rproj.user

# ssh related files
.Rout
.sh
